<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Piscina</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<div class="container mt-5">
  <a class="btn btn-primary mb-3" th:href="@{/piscinas}">Volver a la Lista de Piscinas</a>
  <h1>Editar Piscina</h1>
  <form method="post" th:action="@{/piscinas/{id}/edit/save(id=${piscina.id})}">
    <input th:field="*{id}" type="hidden"/>

    <div class="form-group">
      <label for="profundidad">Profundidad:</label>
      <input class="form-control" id="profundidad" required th:name="profundidad" th:value="${piscina.profundidad}"
             type="number">
    </div>
    <div class="form-group">
      <label for="horarioAbre">Horario de Apertura:</label>
      <input class="form-control" id="horarioAbre" required th:name="horarioAbre" th:value="${piscina.horarioAbre}"
             type="time">
    </div>
    <div class="form-group">
      <label for="horarioCierra">Horario de Cierre:</label>
      <input class="form-control" id="horarioCierra" required th:name="horarioCierra"
             th:value="${piscina.horarioCierra}" type="time">
    </div>
    <div class="form-group">
      <label for="servicio">Servicio:</label>
      <select class="form-control" id="servicio" th:name="idServicio" th:value="${servicios.get(servicios.size() - 1)}">
        <option th:each="servicio : ${servicios}" th:text="${servicio.nombre}" th:value="${servicio.id}"></option>
      </select>
    </div>
    <button class="btn btn-success" type="submit">Guardar Cambios</button>
  </form>
</div>
</body>
</html>
