<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Equipos de Gimnasio</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<div class="container mt-5">
  <a class="btn btn-primary mb-3" href="/gimnasios">Volver a los gimnasios</a>
  <h1>Detalles del Gimnasio</h1>
  <p>ID del Gimnasio: <span th:text="${gimnasio.id}"></span></p>
  <p>Horario de Apertura: <span th:text="${gimnasio.horarioAbre}"></span></p>
  <p>Horario de Cierre: <span th:text="${gimnasio.horarioCierra}"></span></p>

  <hr>

  <h2>Equipos Asociados</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Tipo de Equipo</th>
      <th>Quitar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="equipo : ${equipos_gimnasio}">
      <td th:text="${equipo.tipoEquipo}"></td>
      <td>
        <a class="btn btn-danger btn-sm"
           th:href="@{/equiposgimnasios/{idGimnasio}/{idEquipo}/delete(idGimnasio=${gimnasio.id},idEquipo=${equipo.id})}">Quitar</a>
      </td>
    </tr>
    </tbody>
  </table>

  <hr>

  <h2>Equipos Disponibles</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Tipo de Equipo</th>
      <th>Agregar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="equipo : ${equipos_disponibles}">
      <td th:text="${equipo.tipoEquipo}"></td>
      <td>
        <form method="post" th:action="@{'/equiposgimnasios/new/save'}">
          <input name="idGimnasio" th:value="${gimnasio.id}" type="hidden"/>
          <input name="idEquipo" th:value="${equipo.id}" type="hidden"/>
          <button class="btn btn-success btn-sm" type="submit">Agregar</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
