<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hotel de los Alpes</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
  <style>
    .center-contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .logo {
      max-width: 300px;
      border: 1px solid #ccc;
      border-radius: 50%;
    }

    .nav-bar {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .nav-item {
      margin: 5px;
    }
  </style>
</head>
<body>
<div class="container center-contents">
  <img alt="Logo" class="logo" th:src="@{/images/logo.png}">
  <h1 class="mt-3">Hotel de los Alpes</h1>
  <form th:action="@{/loader/load}" method="post">
    <button class="btn btn-secondary mx-2" th:href="@{/servicios}">Poblar base de datos</button>
  </form>
  <ul class="nav-bar">
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/servicios}">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/piscinas}">Piscinas</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/gimnasios}">Gimnasios</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/salones}">Salones</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/equipos}">Equipos</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/spas}">Spas</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/reservas_servicios}">Reservas servicios</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/hoteles}">Hoteles</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/habitaciones}">Habitaciones</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/dotaciones}">Dotaciones</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/cuentas}">Cuentas</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/reservas}">Reservas</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/registros}">Registros</a>
    </li>
  </ul>
  <h1>Requerimientos Iteración 2</h1>
  <ul class="nav-bar">
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/dinero_habitaciones}">Req 1: Dinero recolectado en servicios por habitación</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" th:href="@{/servicios_populares}">Req 2: 20 Servicios más populares</a>
    </li>
  </ul>
</div>
</body>
</html>
