<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Página Principal</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <img alt="Logo" th:src="@{/images/logo.png}" class="img-fluid img-thumbnail rounded-circle" style="max-width: 300px;">
  <h1 class="mt-3">Hotel de los Alpes</h1>
  <ul class="nav">
    <li class="nav-item">
      <a class="btn btn-primary mx-2" th:href="@{/servicios}">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary mx-2" th:href="@{/piscinas}">Piscinas</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary mx-2" th:href="@{/gimnasios}">Gimnasios</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary mx-2" th:href="@{/salones}">Salones</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary mx-2" th:href="@{/equipos}">Equipos</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary mx-2" th:href="@{/spas}">Spas</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary mx-2" th:href="@{/reservasservicios}">Reservas servicios</a>
    </li>
  </ul>
</div>
</body>
</html>
