<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Salones</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<div class="container mt-5">
  <a class="btn btn-primary mb-3" href="/">Pagina Inicio</a>
  <h1>Salones</h1>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Costo</th>
      <th>Capacidad</th>
      <th>Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="salon : ${salones}">
      <td th:text="${salon.id}"></td>
      <td th:text="${salon.tipo}"></td>
      <td th:text="${salon.costo}"></td>
      <td th:text="${salon.capacidad}"></td>
      <td>
        <a class="btn btn-primary btn-sm" th:href="@{/salones/{id}/equipos(id=${salon.id})}">Equipos</a>
        <a class="btn btn-primary btn-sm" th:href="@{/salones/{id}/edit(id=${salon.id})}">Editar</a>
        <a class="btn btn-danger btn-sm" th:href="@{/salones/{id}/delete(id=${salon.id})}">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Crear nuevo Salón</h2>
  <form method="post" th:action="@{/salones/new/save}" th:object="${salon}">
    <div class="form-group">
      <label for="tipo">Tipo:</label>
      <select class="form-control" id="tipo" name="tipo" required>
        <option value="REUNIONES">REUNIONES</option>
        <option value="CONFERENCIAS">CONFERENCIAS</option>
      </select>
    </div>
    <div class="form-group">
      <label for="costo">Costo:</label>
      <input class="form-control" id="costo" name="costo" required type="number">
    </div>
    <div class="form-group">
      <label for="capacidad">Capacidad:</label>
      <input class="form-control" id="capacidad" name="capacidad" required type="number">
    </div>
    <button class="btn btn-success" type="submit">Crear</button>
  </form>
</div>
</body>
</html>
